/**
 * Program heading block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.wp-block-full-score-events-program-heading {
	display: grid;
	column-gap: var(--fse-bsu);
	line-height: var(--fse-line-height-small);
	box-shadow: inset 6px 0 0 0 var(--fse-border-color);
}

* + .wp-block-full-score-events-program-heading {
	margin-top: var(--fse-bsu);
}

.fse-program-subheading,
.fse-program-tertiary-heading {
	font-style: italic;
}

@media (min-width: 50rem) {

	.wp-block-full-score-events-program-heading {
		grid-template-columns: 1fr 1fr;
	}

	.fse-program-heading-heading {
		grid-column: 1 / -1;
	}

	.fse-program-tertiary-heading {
		grid-column: 2;
		justify-self: end;
	}
}
