/**
 * Shared block styling
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.fse-schedule,
.fse-program {
	display: grid;
	gap: 1rem;
	padding-top: var(--fse-bsu-x1-5);
	padding-bottom: var(--fse-bsu-x1-5);
	border: 2px solid var(--fse-border-color);

	@media (min-width: 50rem) {
		padding-top: var(--fse-bsu-x2);
		padding-bottom: var(--fse-bsu-x2);
	}
}

.fse-schedule-items,
.fse-program-pieces {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
