/**
 * Staff listing block editor adjustments
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.wp-block-full-score-events-staff {
	display: block;

	.block-editor-block-list__layout {
		display: grid;
		gap: var(--fse-bsu);
		grid-template-columns: repeat(auto-fill, minmax(#{"min(300px, 100%)"}, 1fr));
	}
}
