/**
 * Schedule displaying block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */
.fse-schedule {
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	[role="button"] {
		margin-top: 0.5rem;
		text-align: center;
	}

	@media (min-width: 50rem) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
