/**
 * Schedule displaying block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */
.fse-schedule {
	padding-left: var(--fse-bsu-x1-5);
	padding-right: var(--fse-bsu-x1-5);

	[role="button"] {
		margin-top: var(--fse-bsu-half);
		text-align: center;
	}

	@media (min-width: 50rem) {
		padding-left: var(--fse-bsu-x2);
		padding-right: var(--fse-bsu-x2);
	}
}
