/**
 * Callout block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */
.wp-block-full-score-events-callout {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: var(--fse-bsu-half);
	padding: var(--fse-bsu-half) var(--fse-bsu);
	font-weight: 700;
	border: 2px solid var(--fse-border-color);
}
