/**
 * Schedule item editor adjustments
 *
 * @since 1.0.0
 */

/* stylelint-disable selector-class-pattern */
.wp-block-full-score-events-schedule-item {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: var(--fse-bsu-x2);
	max-width: none;
	padding-top: calc(var(--fse-bsu) * 1.25); // USE THEME TO ADD SIDE PADDING BACK
	padding-bottom: calc(var(--fse-bsu) * 1.25); // USE THEME TO ADD SIDE PADDING BACK

	// &:nth-child(even) {
	// 	background: #f1f1f1;
	// }

	.components-datetime__time {
		padding-bottom: 0;

		// hide date
		fieldset:first-child {
			display: none;
		}

		.components-button,
		input[type="number"],
		select {
			height: 30px;
		}
	}

	.editor-styles-wrapper & {

		.block-editor-block-list__layout > * + *,
		[data-type="core/paragraph"] + [data-type="core/paragraph"] {
			margin-top: var(--fse-bsu);
		}
	}
}

/* stylelint-enable selector-class-pattern */
