/**
 * Schedule item block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */
.fse-schedule-item {
	display: grid;
	grid-template-columns: calc(var(--fse-bsu) * 6) 1fr;
	gap: var(--fse-bsu-x1-5);
	padding: var(--fse-bsu-half) 0;

	time {
		font-weight: 700;
	}

	& + & {
		border-top: 1px solid var(--fse-border-color);
	}
}
