/**
 * Schedule item block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */
.fse-schedule-item {
	display: grid;
	grid-template-columns: 6rem 1fr;
	gap: 1.5rem;
	padding: 0.5rem 0;

	time {
		font-weight: 700;
	}

	& + & {
		border-top: 1px solid var(--global--color-border);
	}
}
