/**
 * Schedule edit block editor adjustments
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.wp-block-full-score-events-schedule-edit {

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		gap: 1rem;
	}
}

.editor-styles-wrapper {

	.wp-block-full-score-events-schedule-edit .wp-block,
	.wp-block-full-score-events-schedule-edit p,
	.fse-schedule-heading-heading {
		margin: 0;
	}

	.wp-block-full-score-events-schedule-heading.wp-block {
		margin-top: 1rem;
	}
}

.wp-block-full-score-events-schedule-item + .wp-block-full-score-events-schedule-item {
	border-top: 1px solid var(--global--color-border);
}

.fse-schedule-download-wrapper {
	margin-top: 1.5rem;
}
