/**
 * Schedule edit block editor adjustments
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.wp-block-full-score-events-schedule-edit {

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: grid;
		gap: var(--fse-bsu);
	}
}

.editor-styles-wrapper {

	.wp-block-full-score-events-schedule-heading.wp-block {
		margin-top: var(--fse-bsu);
	}
}

.wp-block-full-score-events-schedule-item + .wp-block-full-score-events-schedule-item {
	border-top: 1px solid var(--fse-border-color);
}

.fse-schedule-download-wrapper {
	margin-top: var(--fse-bsu-x1-5);
}
