/**
 * Featured events
 *
 * @since 1.0.0
 */

.fse-featured-events {
	background: var(--fse-featured-background);

	&,
	a {
		color: var(--fse-featured-color);
	}

	&.fse-has-background {
		padding-top: var(--fse-bsu-x2);
		padding-bottom: var(--fse-bsu-x2);

		& .fse-event-link-overlay:hover,
		& .fse-event-link-overlay:focus,
		& .fse-event-link-overlay:not(.wp-block-button__link):focus { // Twenty Twenty-One
			outline-color: var(--fse-featured-color);
		}
	}

	&.fse-has-background-image::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--fse-featured-background-overlay);
		opacity: 0.8;
	}

	.fse-date {
		border-color: var(--fse-featured-color);
	}

	.fse-date-month {
		background-color: var(--fse-featured-color);
		color: var(--fse-featured-background);
	}
}

.fse-featured-events,
.fse-featured-events-wrap {
	position: relative;
}

.fse-featured-events-wrap {
	z-index: 1; // layer over backround image overlay

	.fse-featured-events-header {
		grid-column: var(--fse-column-cards-column-column);
	}
}

.fse-featured-events-list-event {
	margin: 0;
}

.fse-featured-body p {
	margin-top: var(--fse-bsu);
}

@media (min-width: 64rem) {

	.fse-featured-events.fse-has-background {
		padding-top: var(--fse-bsu-x4);
		padding-bottom: var(--fse-bsu-x4);
	}

	.fse-featured-events-header {
		text-align: right;
	}
}

@media (min-width: 105rem) {

	.fse-featured-events.fse-has-background {
		padding-top: calc(var(--fse-bsu) * 6);
		padding-bottom: calc(var(--fse-bsu) * 6);
	}
}
