/**
 * Shared element/template styling
 *
 * @since 1.0.0
 */

:root {
	--fse-wrap-width: 90%;
	--fse-wrap-max-width: var(--responsive--alignwide-width, 1240px);
	--fse-event-header-title-offset: 9%;
	--fse-event-meta-spacing: 0.5rem;
	--fse-event-card-link-offset: 2.5rem;
	--fse-column-cards-template: auto; // repeat(1fr);
	--fse-column-cards-gap: var(--fse-bsu-x2);
	--fse-column-cards-column-column: auto;
	--fse-column-cards-cards-column: auto;
	--fse-aside-heading-spacing: 1rem;
}

// 1024px and up
@media (min-width: 64rem) {

	:root {
		--fse-column-cards-column-column: 2;
		--fse-column-cards-cards-column: 3;
		--fse-column-cards-column-column-width: calc(var(--fse-bsu) * 16);
		--fse-column-cards-cards-column-width: calc(var(--fse-bsu) * 28);
		--fse-column-cards-template: 1fr var(--fse-column-cards-column-column-width) var(--fse-column-cards-cards-column-width) 1fr;
		--fse-column-cards-gap-y: var(--fse-bsu-x3);
		--fse-column-cards-gap-x: var(--fse-bsu-x4);
		--fse-column-cards-gap: var(--fse-column-cards-gap-y) var(--fse-column-cards-gap-x);
		--fse-aside-heading-spacing: var(--fse-bsu-x1-5);
	}
}

// 1280px and up
@media (min-width: 80rem) {

	:root {
		--fse-column-cards-column-column-width: calc(var(--fse-bsu) * 20);
		--fse-column-cards-cards-column-width: calc(var(--fse-bsu) * 32);
		--fse-column-cards-gap-y: var(--fse-bsu-x4);
		--fse-column-cards-gap-x: calc(var(--fse-bsu) * 6);
	}
}

// general wrapper
.fse-wrap {
	margin-left: auto;
	margin-right: auto;
	width: var(--fse-wrap-width);
	max-width: var(--fse-wrap-max-width);
}

// image fully covering background
.fse-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// heading reset
.fse-featured-heading,
.fse-event-title,
.fse-season-label {
	margin: 0;
}

// list reset
.fse-featured-events-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// reduce line heights
.fse-date,
.fse-event-header-content {
	line-height: var(--fse-line-height-small);
}

// date calendar icon thing
.fse-date {
	display: grid;
	gap: 4px;
	min-width: calc(var(--fse-bsu) * 5);
	margin-top: var(--fse-event-header-title-offset);
	padding: 2px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: var(--fse-border-color);
}

.fse-date-days,
.fse-date-month {
	padding: var(--fse-bsu-fourth) var(--fse-bsu-half);
}

.fse-date-days {
	font-size: var(--fse-font-size-large);
}

.fse-date-month {
	font-size: var(--fse-font-size-xsmall);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: var(--fse-letter-spacing-semi-wide);
	color: var(--global--color-background, var(--fse-color-white)); // @todo color var?
	background: var(--fse-border-color);
}

.fse-days-separator {
	margin-left: var(--fse-bsu-fourth);
	margin-right: var(--fse-bsu-fourth);
}

// event time, location name, etc
.fse-event-meta {
	margin: calc(var(--fse-event-meta-spacing) / 2 * -1) calc(var(--fse-event-meta-spacing) * -1);
	display: flex;
	flex-flow: row wrap;

	> * {
		flex: 0 1 auto;
		display: block;
		margin: calc(var(--fse-event-meta-spacing) / 2) var(--fse-event-meta-spacing);
	}
}

// location & contact
.fse-location-address,
.fse-contact-card {
	font-style: normal;
}

.fse-contact-card {
	display: grid;
	gap: var(--fse-bsu);
	grid-template-columns: auto 1fr;

	@media (min-width: 64rem) {
		gap: var(--fse-bsu-x1-5);
	}
}

.fse-contact-card-name {
	display: block;
}

.fse-contact-card-methods {
	display: grid;
}

.fse-contact-method {
	display: grid;
	grid-template-columns: var(--fse-bsu-x1-5) 1fr;
	align-items: center;
	gap: var(--fse-bsu-half);
}

// loop item header
.fse-events-loop-event-header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	gap: var(--fse-bsu);
}

.fse-event-header-content {
	display: grid;
	gap: var(--fse-bsu-half);
}

// event link overlay
.fse-event-link-overlay-message {
	font-weight: 700;
	text-transform: uppercase;

	[data-fse-icon] {
		margin-left: var(--fse-bsu-fourth);
		transition: transform var(--fse-transition-timing-function) var(--fse-transition-duration);
	}
}

.fse-event-link-overlay {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-decoration: none;
	letter-spacing: var(--fse-letter-spacing-semi-wide);
	font-size: var(--fse-font-size-xsmall);
	outline: 2px dotted transparent;
	outline-offset: var(--fse-bsu);
	transition: outline ease-in-out var(--fse-transition-duration);

	&:hover .fse-event-link-overlay-message [data-fse-icon],
	&:focus .fse-event-link-overlay-message [data-fse-icon] {
		transform: translateX(var(--fse-bsu-fourth));
	}
}

// Twenty Twenty-One fix
.fse-event-link-overlay:hover,
.fse-event-link-overlay:focus,
.site .fse-event-link-overlay:not(.wp-block-button__link):not(.wp-block-file__button):focus {
	background: none;
	outline: 2px dotted var(--fse-border-color);
}

.fse-event-card {
	display: grid;
	gap: var(--fse-bsu);
	position: relative;
	padding-bottom: var(--fse-event-card-link-offset);

	// excerpt
	> p {
		font-size: var(--fse-font-size-regular);
	}
}

// column + cards column layout
.fse-featured-events-wrap,
.fse-events-loop {
	display: grid;
	grid-template-columns: var(--fse-column-cards-template);
	align-items: start;
	gap: var(--fse-column-cards-gap);

	> * {
		grid-column: var(--fse-column-cards-cards-column);
	}
}

@media (min-width: 64rem) {

	.fse-events-loop-event-header {
		gap: var(--fse-bsu-x1-5);
	}
}
