/**
 * Shared element/template styling
 *
 * @since 1.0.0
 */

:root {
	--fse-color-black: #000;
	--fse-color-white: #fff;
	--fse-letter-spacing-semi-wide: 0.05em;
	--fse-transition-timing-function: ease-in-out;
	--fse-transition-duration: 150ms;
	--fse-event-meta-spacing: 0.5rem;
	--fse-event-card-link-offset: 2.5rem;
	--fse-column-cards-template: repeat(1fr);
	--fse-column-cards-gap: 2rem;
	--fse-column-cards-column-column: auto;
	--fse-column-cards-cards-column: auto;
}

@media (min-width: 64rem) {

	:root {
		--fse-column-cards-template: 1fr 20rem 32rem 1fr;
		--fse-column-cards-gap-y: 3rem;
		--fse-column-cards-gap-x: 4rem;
		--fse-column-cards-gap: var(--fse-column-cards-gap-y) var(--fse-column-cards-gap-x);
		--fse-column-cards-column-column: 2;
		--fse-column-cards-cards-column: 3;
	}
}

.fse-wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 87.5rem;
	max-width: var(--responsive--alignwide-width);
}

.fse-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fse-has-background {
	color: var(--fse-color-white);
	color: var(--global--color-white);
}

.fse-date,
.fse-event-header-content {
	line-height: 1.1;
	line-height: var(--global--line-height-page-title);
}

.fse-date {
	display: grid;
	gap: 4px;
	min-width: 5rem;
	padding: 2px;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: var(--fse-color-black);
	border-color: var(--global--color-border);
}

.fse-date-days {
	padding: 0.25rem 0.5rem;
	font-size: 1.5rem;
	font-size: var(--global--font-size-xl);
}

.fse-date-month {
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	font-size: var(--global--font-size-xs);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: var(--fse-letter-spacing-semi-wide);
	color: var(--fse-color-white);
	background: var(--fse-color-black);
	background: var(--global--color-border);
	mix-blend-mode: darken; // try to make text see through to background.
}

.fse-days-separator {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.fse-event-meta {
	margin: calc(var(--fse-event-meta-spacing) / 2 * -1) calc(var(--fse-event-meta-spacing) * -1);
	display: flex;
	flex-flow: row wrap;

	> * {
		flex: 0 1 auto;
		display: block;
		margin: calc(var(--fse-event-meta-spacing) / 2) var(--fse-event-meta-spacing);
	}
}

.fse-events-loop-event-header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: start;
	gap: 1rem;
}

.fse-event-header-content {
	display: grid;
	gap: 0.5rem;
}

.fse-event-link-overlay-message {
	font-weight: 700;
	text-transform: uppercase;

	[data-fse-icon] {
		margin-left: 0.25rem;
		transition: transform var(--fse-transition-timing-function) var(--fse-transition-duration);
	}
}

.fse-event-link-overlay {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-decoration: none;
	letter-spacing: var(--fse-letter-spacing-semi-wide);
	font-size: 1rem;
	font-size: var(--global--font-size-xs);

	&:hover .fse-event-link-overlay-message [data-fse-icon],
	&:focus .fse-event-link-overlay-message [data-fse-icon] {
		transform: translateX(0.25rem);
	}
}

.fse-event-card {
	display: grid;
	gap: 1rem;
	position: relative;
	padding-bottom: var(--fse-event-card-link-offset);
}

// column + cards column layout
.fse-featured-events-wrap,
.fse-events-loop {
	display: grid;
	grid-template-columns: var(--fse-column-cards-template);
	align-items: start;
	gap: var(--fse-column-cards-gap);

	> * {
		grid-column: var(--fse-column-cards-cards-column);
	}
}

@media (min-width: 64rem) {

	.fse-events-loop-event-header {
		gap: 1.5rem;
	}
}
