/**
 * Shared element/template styling
 *
 * @since 1.0.0
 */

:root {
	--fse-wrap-width: 90%;
	--fse-wrap-max-width: var(--responsive--alignwide-width, 1240px);
	--fse-column-cards-template: auto; // repeat(1fr);
	--fse-column-cards-gap: var(--fse-bsu-x2);
	--fse-column-cards-column-column: auto;
	--fse-column-cards-cards-column: auto;
	--fse-aside-heading-spacing: 1rem;
}

// 1024px and up
@media (min-width: 64em) {

	:root {
		--fse-column-cards-column-column: 2;
		--fse-column-cards-cards-column: 3;
		--fse-column-cards-column-column-width: calc(var(--fse-bsu) * 16);
		--fse-column-cards-cards-column-width: calc(var(--fse-bsu) * 28);
		--fse-column-cards-template: 1fr var(--fse-column-cards-column-column-width) var(--fse-column-cards-cards-column-width) 1fr;
		--fse-column-cards-gap-y: var(--fse-bsu-x3);
		--fse-column-cards-gap-x: var(--fse-bsu-x4);
		--fse-column-cards-gap: var(--fse-column-cards-gap-y) var(--fse-column-cards-gap-x);
		--fse-aside-heading-spacing: var(--fse-bsu-x1-5);
	}
}

// 1280px and up
@media (min-width: 80em) {

	:root {
		--fse-column-cards-column-column-width: calc(var(--fse-bsu) * 20);
		--fse-column-cards-cards-column-width: calc(var(--fse-bsu) * 32);
		--fse-column-cards-gap-y: var(--fse-bsu-x4);
		--fse-column-cards-gap-x: calc(var(--fse-bsu) * 6);
	}
}

// general wrapper
.fse-wrap {
	margin-left: auto;
	margin-right: auto;
	width: var(--fse-wrap-width);
	max-width: var(--fse-wrap-max-width);
}

// image fully covering background
.fse-cover-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// location & contact
.fse-location-address,
.fse-contact-card {
	font-style: normal;
}

.fse-contact-card {
	display: grid;
	gap: var(--fse-bsu);
	grid-template-columns: auto 1fr;

	@media (min-width: 64em) {
		gap: var(--fse-bsu-x1-5);
	}
}

.fse-contact-card-name {
	display: block;
}

.fse-contact-card-methods {
	display: grid;
}

.fse-contact-method {
	display: grid;
	grid-template-columns: var(--fse-bsu-x1-5) 1fr;
	align-items: center;
	gap: var(--fse-bsu-half);
}

// column + cards column layout
.fse-featured-events-wrap,
.fse-events-loop {
	display: grid;
	grid-template-columns: var(--fse-column-cards-template);
	align-items: start;
	gap: var(--fse-column-cards-gap);

	> * {
		grid-column: var(--fse-column-cards-cards-column);
	}
}

@media (min-width: 50em) {

	.fse-event-link-overlay {
		outline-offset: var(--fse-bsu);
	}
}

@media (min-width: 64em) {

	.fse-events-loop-event-header {
		gap: var(--fse-bsu-x1-5);
	}
}
