/**
 * Program piece block
 *
 * @since   1.0.0
 * @package Full_Score_Events
 */

.wp-block-full-score-events-program-piece {
	display: grid;
	padding: var(--fse-bsu) 0;
	font-size: var(--fse-font-size-regular);
	line-height: var(--fse-line-height-small);

	& + & {
		border-top: 1px solid var(--fse-border-color);
	}

	small {
		font-size: var(--fse-font-size-xsmall);
	}
}

.fse-piece-note,
.fse-piece-arranger {
	font-style: italic;
}

.fse-piece-title {
	font-weight: 700;
}

@media (min-width: 50rem) {

	.wp-block-full-score-events-program-piece {
		grid-template-columns: 1.3333fr 1fr;
		column-gap: var(--fse-bsu);
	}

	.fse-piece-composer,
	.fse-piece-arranger {
		text-align: right;
	}

	.fse-piece-arranger {
		grid-column: 2;
	}
}
